@media screen and (max-width: 1024px) {
    .main__a:first-child{
        margin-left: 10px;
    }
}
@media screen and (max-width: 768px) {
    .form{
        padding-left: 15px;
        padding-right: 15px;
    }
    .headline__h1{
        font-size: 25px;
        margin-left: 15px;
        margin-right: 5px;
    }
    .headline__step-block{
        margin-left: 15px;
    }
    .main__a:first-child{
        margin-left: 20px;
    }
    .main__span-tooltip{
    
    }
  

    .main__span-tooltip_3:hover::after{
       font-size: 14px;
    }
    .main__span-tooltip_2:hover::after{
        font-size: 14px;
     }
    .main__input{
        width: 100%;
    }
    .main__input_size{
        width: 100%;
    }
    .main-block__flex-box_colomn{
        width: 48%;
    }    
    .main-block__flex-box_colomn_3{
        width: 31%;
    }
    .main-block__flex-box_3{
        justify-content: space-between;
        
    }
    .section__button{
        padding-bottom: 40px;
    }
    .footer{
        margin-top: 40px;
    }
}
@media screen and (max-width: 545px) {
    .section__headline{
        height: 170px;
    }
    .main__p{
        font-size: 13px;
    }
    .main__h2{
        font-size: 19px;
        margin-top: 30px;
        margin-bottom: 18px;
    }
    .block__radio{
        margin-bottom: 0;
    }
    .main-block__flex-box{
        flex-direction: column;
    }
    .main-block__flex-box_colomn{
        width: 100%;
    }
    .main__input{
        max-width: 768px;
        width: 100%;
        
    }
    .main__span-tooltip_1::after {
        content: attr(data-tooltip); 
        position: absolute; 
        width: 150px; 
        margin: auto;
        top: 0; left: 0; bottom: 0; right: 0;  
        font-weight: 300;
        background: #6E7782; 
        color: #fff; 
        pointer-events: none; 
        opacity: 0; 
        transition: 1s; 
        border-radius: 4px;
        line-height: 16px;
        height: 16px;
        padding: 5px;
        text-align: center;
       }
    .main__span-tooltip_2::after {
        content: attr(data-tooltip); 
        position: absolute; 
        width: 100px; 
        top: 0; left: 0; bottom: 0; right: 0;  
        font-weight: 300;
        background: #6E7782; 
        color: #fff;
        pointer-events: none; 
        opacity: 0; 
        transition: 1s; 
        border-radius: 4px;
        line-height: 15px;
        height: 15px;
        padding: 5px;
        text-align: center;
       }
       .main__span-tooltip_2:hover::after {
        font-size: 14px;
        top: 50px;
        left: -45px;
    }
    .main__span-tooltip_3::after {
        content: attr(data-tooltip);
        position: absolute; 
        width: 100px; 
        font-weight: 300;
        margin: auto;
        top: 0;  left: 0; 
        background: #6E7782; 
        color: #fff; 
        padding: 0.2em; 
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
        pointer-events: none; 
        opacity: 0;
        transition: 1s; 
        border-radius: 4px;
        line-height: 16px;
        height: 16px;
        padding: 5px;
        text-align: center;
       }
}
@media screen and (max-width:374px){
    .main__span-tooltip_1::after {
        content: attr(data-tooltip); 
        position: absolute; 
        width: 150px; 
        margin: auto;
        top: 0; left: 0; bottom: 0; right: 0; 
        font-weight: 300;
        background: #6E7782;
        color: #fff; 
        pointer-events: none; 
        opacity: 0; 
        transition: 1s; 
        border-radius: 4px;
        line-height: 16px;
        height: 16px;
        padding: 5px;
        text-align: center;
       }
    .main__span-tooltip_2::after {
      display: none;
       }
    .main__span-tooltip_3::after {
        display: none;
       }
}